<div class="container">
    <div class="card text-center" style="padding: 20px; position: relative;">
        <div class = "stats" style="display: flex; justify-content: space-evenly; align-items: center; position: absolute; bottom: 10px;">
            <div>
                <span><i class="fa-solid fa-users"></i>Users   <strong>{{userCount}}</strong></span>
            </div>
            <div>
                <span><i class="fa-solid fa-user-pen"></i>Reviews   <strong>{{reviewCount}}</strong></span>
            </div>
            <div>
                <span><i class="fa-solid fa-cart-shopping"></i>Products   <strong>{{productCount}}</strong></span>    
            </div>
        </div>
    </div>
</div>
